/** regole */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/** header */
header{
    margin: 31px 0;
    text-align: center;
}

.header-continer{
    font-size: 24px;
    color: rgba(229,49,112,255);
}

/** body */
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Fredoka', sans-serif;
}

.continer{
    width: 75%;
    margin: 0 auto;
}

.row{
    margin-bottom: 40px; 
 }

.p-container{
    text-align: center;
}

